# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#ignore discord token file
/config.json

#ignore node-modules (npm install mongoose express morgan axios concurrently -s, npm install -g nodemon)
/node_modules